.headline {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.subHeading {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.description {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.tag-block {
  padding: 5% 25%;
}

@media (min-width: 375px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
