.headline {
  color: white;
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  text-transform: uppercase;
}

.subHeading {
  font-family: "Space Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.description {
  font-family: "Roboto Flex", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.tag-block {
  padding: 3.5% 20%;
}

.card-bg {
  background: #071322;
}

.card-border-left {
  border-left: 6px solid #57b8ba; /* Adjust thickness and color */
  padding-left: 15px; /* Optional: Add spacing inside */
}
.unleash-potential-btn {
  background: #57b8ba;
  color: black;
  border-radius: 0px;
  border-width: 0px;
  padding: 1.2% 2%;
}
.unleash-potential-btn:hover {
  background: #389294;
  color: black;
  border-radius: 0px;
  border-width: 0px;
}
@media (min-width: 375px) {
}

@media (min-width: 576px) {
}

@media (min-width: 768px) {
}

@media (min-width: 1024px) {
}
